.what-i-do {
	.what-i-do-title {
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 50px;
		font-weight: bold;
		color: black;
		text-align: center;
	}
	.title-first {
		font-size: 30px;
		font-family: Be Vietnam Pro;
	}
	.content-first {
		font-size: 20px;
		font-family: Be Vietnam Pro;
	}
	.title-second {
		margin-top: 15px;
		font-size: 30px;
		font-family: Be Vietnam Pro;
	}
	.content-second {
		font-size: 20px;
		font-family: Be Vietnam Pro;
	}
	.title-third {
		margin-top: 100px;
		font-size: 30px;
		font-family: Be Vietnam Pro;
	}
	.content-third {
		font-size: 20px;
		font-family: Be Vietnam Pro;
	}
}

@media screen and (max-width: 768px) {
	.what-i-do {
		margin: 0 auto;
		text-align: center;
		justify-content: center;
		.blog-image {
			margin-top: 100px;
		}
	}
}
