.what-i-do {
    .what-i-do-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .title-first {
        text-align: left;
        font-size: 30px;
        font-family: Roboto;
    }
    .content-first {
        text-align: left;
        font-size: 20px;
        font-family: Roboto;
    }
    .title-second {
        margin-top: 15px;
        font-size: 30px;
        font-family: Roboto;
    }
    .content-second {
        font-size: 20px;
        font-family: Roboto;
    }
    .title-third {
        margin-top: 100px;
        text-align: left;
        font-size: 30px;
        font-family: Roboto;
    }
    .content-third {
        text-align: left;
        font-size: 20px;
        font-family: Roboto;
    }
}

@media screen and (max-width: 992px) {
    .title-second {
        margin-left: 70px !important;
    }
    .content-second {
        margin-left: 70px !important;
    }
}

@media screen and (max-width: 767px) {
    .blog-content {
        text-align: left !important;
    }
    .blog-image {
        margin-top: 100px !important;
    }
    .title-second {
        margin-left: 0px !important;
    }
    .content-second {
        margin-left: 0px !important;
    }
}
