.mobile-project-container {
    .mobile-project-title-container {
        width: 80%;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("../../../assets/images/mobile.png");
        background-position: center;
        background-size: cover;
        background-attachment: cover;
        color: #fff;
        height: 100px;
        margin: 0 auto;
        .mobile-project-title {
            margin-top: 150px;
            h4 {
                font-weight: bold;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-top: 35px;
            }
        }
    }

    .mobile-project-item-link {
        display: flex;
        flex-flow: row;
        width: 80%;
        height: 300px;
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        text-align: left;
        margin: 0 auto;
        margin-top: 30px;
        .mobile-project-item-img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 5px;
            transition: all 0.2s linear;
            &:hover {
                transform: scale(1.1);
            }
        }
        .mobile-project-item-info {
            padding: 20px 10px 30px;
        }
        .mobile-project-item-title {
            color: #252e48;
            font-size: 18px;
            margin: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            &:hover {
                color: #050295;
            }
        }
        .mobile-project-item-description {
            margin-bottom: 40px;
            font-size: 14px;
            color: #42526e;
            line-height: 1.5;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .mobile-project-item-author {
            width: calc(100% - 30px);
            padding: 10px 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            border-top: 1px solid #dcdff1;
            position: absolute;
            bottom: 0;
            color: #42526e;
            font-weight: 400;
            font-size: 12px;
        }
        .mobile-project-text-left {
            white-space: nowrap;
            padding-right: 0;
        }
        .mobile-project-author-name {
            margin: 0 15px 0 5px;
            color: #050295;
        }
        .mobile-project-time-icon {
            display: block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: #949494;
            margin-top: 10px;
            margin-right: 1px;
        }
    }

    .mobile-project-all-container {
        .featuring-mobile-project-item {
            position: relative;
            z-index: 1;
        }
        .mobile-project-item {
            margin: 0;
            padding: 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .mobile-project-item-wrap {
                position: relative;
                z-index: 1;
                width: 40%;
                margin: 20px;
                .mobile-project-item-img {
                    width: 100%;
                    object-fit: cover;
                    height: 500px;
                    border-radius: 5px;
                }
            }
            .mobile-project-item-content {
                position: relative;
                width: 60%;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 10px;
                .mobile-project-item-info {
                    padding: 20px 10px 30px;
                    .title-container {
                        display: flex;
                        justify-content: space-between;
                        .mobile-project-item-title {
                            color: #252e48;
                            font-size: 18px;
                            margin: 10px 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            &:hover {
                                color: #050295;
                            }
                        }
                        .source-image {
                            text-align: right;
                            justify-content: right;
                            align-self: right;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                    }

                    .mobile-project-item-description {
                        margin-bottom: 40px;
                        font-size: 14px;
                        color: #42526e;
                        line-height: 1.5;
                        white-space: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
                .mobile-project-item-author {
                    width: calc(100% - 30px);
                    padding: 10px 0;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    border-top: 1px solid #dcdff1;
                    position: absolute;
                    bottom: 0;
                    color: #42526e;
                    font-weight: 400;
                    font-size: 12px;
                    .mobile-project-text-left {
                        white-space: nowrap;
                        padding-right: 0;
                        display: flex;
                        .mobile-project-author-name-container {
                            display: flex;
                            .mobile-project-author-name {
                                margin: 0 15px 0 5px;
                                color: #050295;
                                .author-link-info {
                                    text-decoration: none;
                                }
                            }
                        }

                        .mobile-project-time-container {
                            display: flex;
                            .mobile-project-time {
                                margin: 0 15px 0 5px;
                            }
                            .mobile-project-time-icon {
                                display: block;
                                width: 3px;
                                height: 3px;
                                border-radius: 50%;
                                background: #949494;
                                margin-top: 10px;
                                margin-right: 1px;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 650px) {
            .mobile-project-text-left {
                flex-direction: column;
            }
        }
    }
}
