.anthonyhai-logo {
    max-width: 200px;
    margin-left: 50px;
}
.navbar-nav {
    margin-right: 70px;
    .nav-item {
        margin-right: 30px;
        .nav-link:hover {
            border-radius: 15px;
            transition: 0.2s all ease-out;
            border: none;
            border-radius: 5px;
            background-color: rgb(245, 131, 65);
            color: #fff;
            width: 100%;
        }
        .nav-link {
            color: #000;
            &.active {
                border-radius: 5px;
                background-color: rgb(245, 131, 65);
                color: #fff;
            }
        }
    }
}
