.blog-container {
    display: block;
    padding: 10px 100px;
    .blog-item-link {
        display: flex;
        flex-flow: row;
        width: 80%;
        height: 300px;
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        text-align: left;
        margin: 0 auto;
        margin-top: 30px;
        .blog-item-info {
            padding: 20px 10px 30px;
            .blog-item-title {
                color: #252e48;
                font-size: 18px;
                margin: 10px 0;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                &:hover {
                    color: #050295;
                }
            }
            .blog-item-description {
                margin-bottom: 20px;
                font-size: 14px;
                color: #42526e;
                line-height: 1.5;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .blog-item-author {
            width: calc(100% - 30px);
            padding: 10px 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            border-top: 1px solid #dcdff1;
            position: relative;
            bottom: 0;
            color: #42526e;
            font-weight: 400;
            font-size: 12px;
        }
        .blog-text-left {
            white-space: nowrap;
            padding-right: 0;
        }
        .blog-author-name {
            margin: 0 15px 0 5px;
            color: #050295;
        }
        .blog-time-icon {
            display: block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: #949494;
            margin-top: 10px;
            margin-right: 1px;
        }
    }

    .featuring-blog-title {
        margin-top: 100px;
        text-align: left;
        font-weight: bold;
    }
    .another-blog-title {
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
    }
    .featuring-blog {
        display: flex;
        flex-flow: column;
        max-width: 1560px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 22px;
        .featuring-blog-item {
            position: relative;
            z-index: 1;
        }
        .blog-item {
            margin: 0;
            padding: 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .blog-item-wrap {
                position: relative;
                z-index: 1;
                width: 40%;
                margin: 20px;
                .blog-item-img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                    transition: all 0.2s linear;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .blog-item-content {
                position: relative;
                width: 60%;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 10px;
                .blog-item-info {
                    padding: 20px 10px 30px;
                    .blog-item-title {
                        color: #252e48;
                        font-size: 18px;
                        margin: 10px 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        &:hover {
                            color: #050295;
                        }
                    }
                    .blog-item-description {
                        margin-bottom: 40px;
                        font-size: 14px;
                        color: #42526e;
                        line-height: 1.5;
                        white-space: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
                .blog-item-author {
                    width: calc(100% - 30px);
                    padding: 10px 0;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    border-top: 1px solid #dcdff1;
                    position: absolute;
                    bottom: 0;
                    color: #42526e;
                    font-weight: 400;
                    font-size: 12px;
                    .blog-text-left {
                        white-space: nowrap;
                        padding-right: 0;
                        display: flex;
                        .blog-author-name-container {
                            display: flex;
                            .blog-author-name {
                                margin: 0 15px 0 5px;
                                color: #050295;
                                .author-link-info {
                                    text-decoration: none;
                                }
                            }
                        }

                        .blog-time-container {
                            display: flex;
                            .blog-time {
                                margin: 0 15px 0 5px;
                            }
                            .blog-time-icon {
                                display: block;
                                width: 3px;
                                height: 3px;
                                border-radius: 50%;
                                background: #949494;
                                margin-top: 10px;
                                margin-right: 1px;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 650px) {
            .blog-text-left {
                flex-direction: column;
            }
        }
    }
    .another-blog {
        display: flex;
        flex-flow: column;
        max-width: 1560px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 22px;

        .another-blog-item {
            margin-bottom: 0px;
            padding-inline-start: 0px;
            padding-block-end: 20px;
            display: grid;
            grid-template-columns: repeat(3, auto);
            .blog-item {
                margin: 1.5rem 1rem;
                border-radius: 10px;
                .blog-item-link {
                    display: flex;
                    flex-flow: column;
                    height: 95%;
                    width: 420px;
                    .blog-item-wrap {
                        position: relative;
                        width: 100%;
                        padding-top: 73%;
                        overflow: hidden;
                        width: 420px;
                        height: 307px;
                        margin: 0;
                        .blog-item-img {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            display: block;
                            width: 420px;
                            max-width: 100%;
                            height: 307px;
                            max-height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                            transition: all 0.2s linear;
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .blog-text-left {
                        display: flex;
                        .author-link-info {
                            text-decoration: none;
                        }
                        .blog-time-container {
                            display: flex;
                            .blog-time {
                                margin: 0 15px 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .another-blog-item {
        grid-template-columns: repeat(2, auto) !important;
        grid-gap: 20px;
    }
    .featuring-blog-title {
        margin-top: 100px;
        text-align: left;
        font-weight: bold;
        text-align: center !important;
    }
    .another-blog-title {
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
        text-align: center !important;
    }
}

@media screen and (max-width: 650px) {
    .another-blog-item {
        grid-template-columns: repeat(1, auto) !important;
        grid-gap: 20px;
    }
    .featuring-blog-title {
        margin-top: 100px;
        text-align: left;
        font-weight: bold;
        text-align: center !important;
    }
    .another-blog-title {
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
        text-align: center !important;
    }
}
