.profile-dropdown {
    position: relative;
    z-index: 99;
    button {
        cursor: pointer;
        border: none;
        outline: none;
        color: var(--txt-color);
    }
    .dropdown-toggle-new {
        border: none;
        outline: none;
        background-color: transparent;
        position: relative;
        i {
            font-size: 2.5rem;
            color: var(--txt-color);
        }
        .dropdown-toggle-badge {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -12px;
            right: -10px;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: var(--main-color);
            font-size: 0.8rem;
        }
    }
    .dropdown-content {
        position: absolute;
        top: calc(100% + 5px);
        right: 0;
        width: max-content;
        max-width: 400px;
        background-color: var(--main-bg);
        border-radius: var(--border-radius);
        overflow: hidden;
        transform-origin: top right;
        transform: scale(0);
        transition: transform 0.3s ease 0s;
        .dropdown-footer {
            padding: 20px;
            text-align: center;
        }
        &.active {
            transform: scale(1);
            transition: transform 0.5s var(--transition-cubic);
        }
    }
}
